<!-- this file contains the router links -->


<div style="text-align:center">
  <h1>
    {{ title }}..!!
  </h1>
</div>

<div class="container-fluid">
  <div class="row alert alert-primary">
    <div class="col">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/order">Orders</a>
        </li>
      </ul>
    </div>

    <div class="col-sm">
      <ul class="nav justify-content-end">
        <li class="nav-item justify-content-end">
          <a class="nav-link" (click)='userLogout()'>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
